
html {
    background-color: white;
    scroll-behavior: smooth;
    color: black;
  }
  
  body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Iceland', regular;
  }
  
  header {
    color: red;
    text-align: center;
    font-family: 'Iceland', regular;
  }
  
  header h1 {
    font-size: 60pt;
    margin-bottom: 0;
    line-height: 1;
  }
  
  header h2 {
    font-size: 40pt;
    color: black;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 20px;
  }
  
  hr {
    width: 35%;
    border: 1px solid red;
  }
  
  nav {
    font-family: 'Iceland', regular;
    color: black;
    padding: 7px;
    margin-bottom: 2rem;
    font-weight: bold;
    text-align: center; /* Center the nav content */
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center the nav items */
  }
  
  nav ul a {
    text-decoration: none;
    color: black;
  }
  
  nav ul li {
    margin: 0 10px; /* Equal margin on both sides for spacing */
    font-size: 20pt;
  }
  
  main {
    width: 70%;
    margin: 0 auto;
  }
  
  main h2 {
    font-family: 'Iceland', regular;
    text-align: center;
    font-size: 30pt;
  }
  
  .stories-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .story {
    outline: 2px dashed black;
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  button {
    font-family: 'Iceland', regular;
    background-color: white;
    color: black;
    border: 2px dashed black;
    padding: 10px 20px;
    font-size: 18pt;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: black;
    color: white;
  }
  
  footer {
    font-family: 'Iceland', regular;
    color: black;
    padding: 7px;
    margin-top: 1rem;
    text-align: center; /* Center the footer content */
  }
  
  footer a {
    color: red;
  }
